html {
  height:100%;
}

body {
  padding:20px;
  background-color: #222 !important;
  /* background-image: url("images/map.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed; */

  width:100%;
  height:100%;
}

.h1, .h2{
  text-align: center;
}

.mapcard{
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  display: block;
  margin: 8px 0;
  padding: 10px;
  border-radius: 3px;
  word-wrap: break-word;
}

.cardholder{
  margin: 20px 0;
  border-radius: 3px;
  width: 30%;
  max-height: 82%;
  min-width: 320px;
  padding: 0 8px;
  background-color: #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

#input > input{
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
}

#submit{
  width: 100%;
  margin: 10px 0 0 0 ;
}

.addbutton{
  width: 48%;
  float:right;
  margin: 5px 0 0 0;
}

.btn{
  width:100%;
}

.mapbutton, .backbutton{
  width: 100%;
  margin: 5px 0 0 0;
}

input, textarea{
  background: rgba(255,255,255,0);
  border: 2px solid grey;
  border-radius: 2px;
}

.inputcard{
  width: 30%;
  background-color: rgba(255,255,255,0.95);
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  min-width: 350px;
}

.topnav {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  border-radius: 5px;
}

.topnav a {
  color: black;
  float: left;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(255,255,255,0.5);
  text-decoration: none;
  color: black;
}

.infodiv{
  width: 30%;
  min-width: 220px;
  margin-left: 20px;
  position: absolute;
  display: none;
}

.container {
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  border-radius: 0 0 5px 5px;
  padding: 10px 0 10px 0;
}

.map{
  float:right;
  width:55%;
  background-color: rgb(255,255,255,0);
  margin: 20px 0 0 0;
  border-radius: 5px;
  max-height: 500px;
}

@media (max-width:800px) {
  .mapcard, .cardholder{
    width:100%;
  }
  .infodiv{
    width: 80%;
  }
  .inputcard{
    width: 80%;
    min-width: 200px;
  }
  .map{
    width:100%;
    float:none;
  }
  .cardholder{
    max-height: initial;
    overflow-y: initial;
    min-width: 200px;
  }
}

#style-1::-webkit-scrollbar{
	width: 10px;
}

#style-1::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);;
}
