html {
  height:100%;
}

body {
  background-color: #333 !important;
  /* background-image: url("images/map.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #444;

  width:100%;
  height:100%;
  overflow: hidden;
}

/* selection styling */

::-moz-selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

/* no scrollbar visible on body*/
::-webkit-scrollbar {
    width: 0px;
}

.centerize {
text-align: center;}

/* navbar styles */

.topnav {
  z-index: 10;
  background-color: #dedede;
  overflow: hidden;
  padding: 2px;
  height: 64px;
  border: 1px solid rgba(0,0,0,0.3);
}

.topnav .nav-text {
  color: #444;
  float: left;
  text-align: center;
  padding: 8px 16px;
  margin: auto;

  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  transition: 0.4s;
  border-radius: 4px;
  height: 58px;
}

.topnav a:hover {
  color: #23a8e6;
  background-color: rgba(255,255,255, 0.5);
  text-decoration: none;
  transition: 0.2s;
}

.infodiv{
  width: 30%;
  min-width: 220px;
  margin-left: 20px;
  position: absolute;
  display: none;
}


#logo, .nav-text {
    font-family: Montserrat !important;
    font-weight: 700 !important;
    font-size: 20pt !important;
    float: left;
    border-radius: 4px;
    }

#logo img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;

  margin: 4px;
  padding: 0;}

h1, h2 {
  font-family: 'Roboto' !important;
  font-weight: 700 !important;
  color: #444 !important;}

/* Card styles */

.mapcard {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  display: block;
  margin: 12px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  word-wrap: break-word;
}

.cardholder {
  margin: 0;
  border: 1px solid rgba(0,0,0,0.3);
  width: 30%;
  max-height: calc(100% - 62px);
  min-width: 320px;
  max-width: 480px;
  padding: 0 6px 0 12px;
  background-color: #ccc;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cardholder::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent  !important;
    float: left;
}

.cardholder::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #ccc;
}
​
/* Form styles */

#input > input{
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
}

#submit {
  width: 100%;
  margin: 10px 0 0 0 ;
}

.addbutton{
  width: 48%;
  float:right;
  margin: 5px 0 0 0;
}

.btn {
  width:100%;
}

.mapbutton, .backbutton{
  width: 100%;
  margin: 5px 0 0 0;
}

input {
  background: #eee;
  border: 2px solid grey;
  border-radius: 2px;
  width: 100%;
}

 textarea {
   background: #eee;
   border: 2px solid grey;
   border-radius: 2px;
   width: 100%;
   padding: 0;
   min-height: 100px;
   max-height: 300px;
 }

input:hover, textarea:hover {
  transition: 0.4s;
  background: #fff;}

.inputcard {
  width: 30%;
  background-color: rgba(255,255,255,0.95);
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  min-width: 350px;
}

.container {
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  border-radius: 0 0 5px 5px;
  padding: 10px 0 10px 0;
}

.map {
  float:right;
  width: 55%;
  background-color: rgb(255,255,255,0);
  margin: 20px 0 0 0;
  border-radius: 5px;
  max-height: 500px;
}

@media (max-width:800px) {
  .mapcard, .cardholder{
    width:100%;
  }
  .infodiv{
    width: 80%;
  }
  .inputcard{
    width: 80%;
    min-width: 200px;
  }
  .map{
    width:100%;
    float:none;
  }
  .cardholder{
    max-height: initial;
    overflow-y: initial;
    min-width: 200px;
  }
}
