
/* ---------------- GLOBAL VARIABLES ---------------- */
:root {
    --color1: #23a8e6;
    --color1-s2: #45b6eb;

    --color2: #bc4f4f;
    --color2-s2: #a84545;

    --color3: #3aaf3a;

    --dark-border: 1px solid rgba(0,0,0,0.3);
    --dark-border2: 2px solid rgba(0,0,0,0.3);

    --light-border: 1px solid rgba(255,255,255,0.4);

    --text-color: #444;
    --text-color-light: #eee;
    --welcome-text-color: #444;

    --background: #333;
}

/* ---------------- default html tags ---------------- */
html {
  height:100%;
}

body {
  background: var(--background);

  /* background-image: url("images/map.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed; */

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: var(--text-color);

  width: 100%;
  height: 100%;
  overflow: hidden;
}
#welcome-bg {
  background-image: url('/static/img/welcome_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #eee;

}

#welcome {
  text-align: center;
  margin: auto;
  padding: auto;
  width: 60%;
  height: 60%;

  color: var(--welcome-text-color) !important;
}

#artist-credit {
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: rgba(255,255,255,0.8);
  color: #444;
  padding: 6px 8px 0 8px;
  border-top-left-radius: 5px;
  font-size: 8pt;
}

p {
  color: var(--text-color);
}

hr {
  margin: 10px;
  background-color: rgba(0,0,0,0.05);
}
.welcome-hr {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: var(--welcome-text-color);
}

::-moz-selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* ---------------- Text transformations ---------------- */

.centerize {
text-align: center;}
.rightize {
text-align: right;}

.welcome-msg {
  font-size: 24pt;
  font-weight: 400;
  padding-top: 20px;
  color: var(--welcome-text-color);
}
.welcome-txt {
  font-size: 12pt;
  font-weight: 400;
  color: var(--welcome-text-color);
}

.info-text {
  display: none;
}
.date-text {
  font-size: 10pt;
  color: rgba(51, 51, 51, 0.7);
}

.country {
  transition: 0.4s;
} .country:hover {
  color: var(--color1) !important;
  text-decoration: none;
  transition: 0.2s;
}

h1 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  color: var(--text-color) !important;
  font-size: 20pt !important;
}

h2 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  color: var(--text-color) !important;
  font-size: 16pt;
}

/* ---------------- Navbar styles ---------------- */

.topnav {
  position: relative;
  z-index: 100 !important;
  background: linear-gradient(#eee, #dedede);
  overflow: hidden;
  padding: 2px;
  height: 50px;
  border-bottom: var(--dark-border);
}

.nav-text {
  color: var(--text-color);
  float: left;

  display: inline-block;
  vertical-align: middle;

  font-family: Montserrat !important;
  font-weight: 700 !important;
  font-size: 16pt;

  border-radius: 4px;
  margin: auto;
  padding: 8px 16px;

  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px #eee;
  transition: 0.4s;
  border-radius: 4px;
  height: 45px;

  lineheight: 64px;
} .nav-text:hover {
  transition: 0.4;
  padding: 6px 16px;
}

.topnav > a:hover, .logged-in > a:hover{
  color: var(--color1);
  background-color: rgba(255,255,255, 0.5);
  text-decoration: none;
  transition: 0.2s;
}

.topnav > a > #logo {
  height: 42px;
  display: inline-block;
  vertical-align: middle;

  margin: 2px 8px 0 8px;
  padding: 0;
  float: left ;
}

.topnav > a > #avatar {
  height: 32px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 12px;
  padding: 0;
  float: right;
  border-radius: 4px;
  border-bottom: var(--light-border);
  border-right: var(--light-border);
}.topnav > a > #avatar-d {
  height: 32px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 12px;
  padding: 0;
  float: right;
  border-radius: 100px;
  border-bottom: var(--light-border);
  border-right: var(--light-border);
}

.infodiv {
  z-index: 10;
  position: absolute;
  display: none;

  width: 220px;
  margin: 12px 0 0 180px;
  padding: 8px;

  background: rgb(255, 255, 191);
  border-radius: 4px;
  border: var(--dark-border);
}

.logged-in {
  z-index: 75;
  display: none;
  position: absolute;
  right: 0;
  width: 150px;
  background: #ddd;
  padding: 2px;
  border-bottom-left-radius: 6px;
  border-bottom: var(--dark-border);
  border-left: var(--dark-border);
} .logged-in > a {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin: 0;
} .logged-in > .nav-text:hover {
  transition: 0.4;
  padding: 8px 20px;
}

/* ---------------- Card styles ---------------- */

.cardholder {
  position: relative;
  z-index: 1;
  margin: 0;
  border: var(--dark-border);
  height: calc(100% - 50px - 48px);

  width: 25%;
  min-width: 320px;
  max-width: 480px;

  padding: 0 8px 0 8px;
  background-color: #ccc;
  overflow-x: hidden;
  overflow-y: hidden;
} .cardholder:hover {
  overflow-y: scroll;
  padding: 0 3px 0 8px;
}

.cardholder::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent  !important;
    float: left;
}
.cardholder::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
}
.cardholder::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

#new_container {
  border-right: var(--dark-border);
  border-left: var(--dark-border);
  margin: 0;
  height: 48px;

  width: 25%;
  min-width: 320px;
  max-width: 480px;

  padding: 8px;
  background-color: #dedede;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card {
  transition: 0.2s;
  background-color: #f8f8f8;
  width: 100%;
  display: block;
  margin: 8px 0;

  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  word-wrap: break-word;
} .card:hover {
  transition: 0.2s;
  background-color: #fff;
  width: calc(100% + 6px);
  margin: 8px -3px;
} .card > .memory > #click1 > h2 {
  transition: 0.4s;
} .card > .memory > #click1 > .card-datediv > .dark-padding {
  transition: 0.4s;
} .card:hover > .memory > #click1 > h2 {
  transition: 0.2s;
  color: var(--color1) !important;
} .card:hover > .memory > #click1 > .card-datediv > .dark-padding {
  transition: 0.2s;
  background: var(--color1) !important;
  color: #fff !important;
}

.highlighted-card {
  transition: 0.2s;
  background-color: #c7ecc7 !important;
} .highlighted-card:hover {
  transition: 0.2s;
  background-color: #e3ffe3 !important;
} .highlighted-card > .memory > #click1 > h2 {
  transition: 0.4s;
} .highlighted-card:hover > .memory > #click1 > h2 {
  transition: 0.2s;
  color: var(--color3) !important;
} .highlighted-card > .memory > #click1 > .card-datediv > .dark-padding {
  transition: 0.4s;
  color: #c7ecc7 !important;
} .highlighted-card:hover > .memory > #click1 > .card-datediv > .dark-padding {
  transition: 0.2s;
  background: var(--color3) !important;
  color: #e3ffe3 !important;
}

/* simple padding */
.memory {
  padding: 8px;
}

.card-datediv {
  display: block;
  height: 22px;
  /* background: #f88; */
}
.dark-padding {
  background: #444;
  padding: 1px 12px;
  border-radius: 3px;
  color: #eee;
}
.dark-padding2 {
  background: rgba(0,0,0,0.1);
  padding: 1px 12px;
  border-radius: 100px;
}

.card-bottom {
  display: none;
  background-color: rgba(0,0,0,0.075);
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 33px;
}

/* ---------------- Form styles ---------------- */

input[type=text], input[type=password] {
  display: inline;
  text-align: center;
  background: #eee;
  border: var(--dark-border2);
  border-radius: 5px;
  padding: 4px 8px;
  width: calc(100% - 16px);
}
input[type=date], input[type=file] {
  display: inline;
  text-align: center;
  background: #eee;
  border: var(--dark-border2);
  border-radius: 5px;
  padding: 4px 8px;
  width: calc(100% - 16px);
}
textarea {
   background: #eee;
   border: var(--dark-border2);
   border-radius: 5px;
   width: calc(100%);
   padding: 4px 8px;
   min-height: 100px;
   max-height: 300px;
   height: 200px;
}

input:hover, textarea:hover {
  transition: 0.4s;
  background: #e8f7ff;}

.form-text {
  margin: 6px 0 0 0;
}

#dark-container {
  z-index: 50;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0,0.3);
}

.inputcard {
  z-index: 100;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  min-width: 350px;
}

.logincard {
  z-index: 100;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  width: 85%;
  max-width: 500px;
}

.memory > .input-container {
  display: inline-flex;
  margin: 8px;
}

.memory > .textarea-container {
  display: block !important;
  margin: 0 8px 8px 8px;
}

.container {
  width: 100%;
}

.input-container > #avatar {
  height: 128px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 12px;
  padding: 0;
  float: right;
  border-radius: 8px;
  border: var(--dark-border);
}.input-container > #avatar-d {
  height: 128px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 12px;
  padding: 0;
  float: right;
  border-radius: 128px;
  border: var(--dark-border);
}

.input-top {
  padding: 8px 0 0 0;
  background-color: rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.input-bottom {
  background-color: rgba(0,0,0,0.075);
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 2px;
}

/* ---------------- Map styles ---------------- */

.map-container {
  max-width:calc(100% - 320px);
  min-width:calc(100% - 480px);
  width: 75vw;
  float: right;
  max-height: 100%;
  height: calc(100% - 50px);
}

#map {
  width: 100% !important;
  height: 60% !important;
  background: #ddd;
}

/*Bottom Panel*/
#info-panel {
  width: 100%;
  height: 40%;

  background: #ffa;
  border-top: var(--dark-border);
}
#info-top {
  width: 100%;
  height: calc( 100% - 32px);
  padding: 10px;

  overflow-y: hidden;

} #info-top:hover {
  overflow-y: scroll;
  padding-right: 0px;
}

#info-top::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent  !important;
  float: left;
}
#info-top::-webkit-scrollbar-thumb {
  border: 1px solid #ff8;
  background-color: rgba(0, 0, 0, 0.3);

}
#info-top::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

#info-bottom {
  position: absolute;
  z-index: 0;
  vertical-align: middle;
  display:none;

  max-width:calc(100% - 320px);
  min-width:calc(100% - 480px);
  width: 75vw;
  height: 32px;
  line-height: 24px;

  bottom: 0;
  right: 0;

  background: #ff8;
  border-top: 1px dashed rgba(0,0,0,0.2);
}

/* ---------------- Changes on media properties ---------------- */

@media (max-width:800px) {


  .inputcard{
    min-width: 200px;
  }

  .memory > .input-container {
    display: inline;
  }
}

@media (max-width: 640px) {
/*max-width:640px because the card holder is 320px, which leaves at least
the same amount for the map*/
  .infodiv {
    margin: 4px;
    width: calc(100% - 8px);
  }

  #new_container{
    min-width: 200px;
    width: 100%;
    max-width: 100%;
    border-top: var(--dark-border);
  }

  .cardholder {
    max-height: calc(100% - 50vw - 50px - 48px);
    /* height = full - map - nav - newmemory */

    min-width: 200px;
    width: 100%;
    max-width: 100%;
    border-top: var(--dark-border);
  }

  .map-container {
    width:100%;
    min-width: 100%;
    height: 50vw;
    min-height: auto;
    max-height: auto;
  }

  .info-text {
    display: block;
  }

  #map {
    height: 100% !important;
  }
  #info-panel {
    display: none;
  }
}

/* ---------------- Other/Buttons ---------------- */
.flex {
  display: flex;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}

.btn {
  font-size: 9pt;
}

.btn-edit {
  border-radius: 100px;
  height: 28px;
  margin: 2px;
  padding: 0 8px;

  color: var(--text-color);
  background-color: rgba(0,0,0,0.1);
} .btn-edit:hover, .btn-edit:focus, .btn-edit:active {
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.2s;
} .btn-edit:focus, .btn-edit:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
  transition: 0.2s;
}

.btn-delete {
  border-radius: 100px;
  width: 28px;
  height: 28px;
  margin: 2px;
  padding: 0;

  font-size: 14pt !important;
  color: var(--text-color);
  background-color: rgba(0,0,0,0.1);
} .btn-delete:hover, .btn-delete:focus .btn-delete:active{
  background-color: #d9a7a7;
  transition: 0.2s;
} .btn-delete:focus, .btn-delete:active {
  box-shadow: 0 0 0 0.2rem rgba(231, 188, 188, 0.5) !important;
  transition: 0.2s;
}

.btn-primary {
  background-color: var(--color1-s2);
  height: 32px;
  margin: 3px;
  border: none;
} .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color:  var(--color1);
  transition: 0.2s;
} .btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(73, 197, 255, 0.5) !important;
  transition: 0.2s;
}

.btn-secundary {
  background-color: var(--color2);
  height: 32px;
  margin: 3px;
  color: var(--text-color-light);
} .btn-secundary:hover, .btn-secundary:focus, .btn-secundary:active {
  background-color: var(--color2-s2);
  transition: 0.2s;
  color: #fff;
} .btn-secundary:focus, .btn-secundary:active {
  box-shadow: 0 0 0 0.2rem rgba(168, 69, 69, 0.5) !important;
  transition: 0.2s;
}

.btn-wide {
  width: 100%;
  margin: 0;
  font-size: 11pt !important;
}

.mapbutton {
  height: 32px;
  margin: 3px;
}

/* ---------------- Animations ---------------- */

.spin {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animation-darken {
  background-color: rgba(0,0,0,0.3);
  -webkit-animation: darken 0.5s ease;
  animation: darken 0.5s ease;
}
@-webkit-keyframes darken {
    from { -webkit-background-color: rgba(0,0,0,0); }
    to { -webkit-background-color: rgba(0,0,0,0.3); }
}
@keyframes darken {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.3); }
}

.animation-slide {
    -webkit-animation: slide 0.4s ease;
    animation: slide 0.4s ease;
}
@-webkit-keyframes slide {
    from { -webkit-transform: translateY(-80vh); }
    to { -webkit-transform: translateY(0); }
}

@keyframes slide {
    from { transform: translateY(-80vh); }
    to { transform: translateY(0); }
}

.animation-smallslide {
    -webkit-animation: smallslide 0.25s ease;
    animation: smallslide 0.25s ease;
}
@-webkit-keyframes smallslide {
    from { -webkit-transform: translateY(-200px); }
    to { -webkit-transform: translateY(0); }
}

@keyframes smallslide {
    from { transform: translateY(-200px); }
    to { transform: translateY(0); }
}

.animation-slideleft {
    -webkit-animation: slideleft 0.3s ease;
    animation: slideleft 0.3s ease;
}
@-webkit-keyframes slideleft {
    from { -webkit-transform: translateX(-500px); }
    to { -webkit-transform: translateX(0); }
}

@keyframes slideleft {
    from { transform: translateX(-500px); }
    to { transform: translateX(0); }
}
