
/* ---------------- GLOBAL VARIABLES ---------------- */
:root {
    --color1: #23a8e6;
    --color1-s2: #45b6eb;

    --color2: #bc4f4f;
    --color2-s2: #a84545;

    --dark-border: 1px solid rgba(0,0,0,0.3);
    --dark-border2: 2px solid rgba(0,0,0,0.3);

    --text-color: #444;
    --text-color-light: #eee;

    --background: #333;
}

/* ---------------- default html tags ---------------- */
html {
  height:100%;
}

body {
  background: var(--background) !important;

  /* background-image: url("images/map.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed; */

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: var(--text-color);

  width:100%;
  height:100%;
  overflow: hidden;
}

p {
  color: var(--text-color);
}

hr {
  margin: 10px;
  background-color: rgba(0,0,0,0.05)
}

::-moz-selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* ---------------- Navbar styles ---------------- */

.topnav {
  position: relative;
  z-index: 10 !important;
  background: linear-gradient(#eee, #dedede);
  overflow: hidden;
  padding: 2px;
  height: 50px;
  border-bottom: var(--dark-border);
}

.nav-text {
  color: var(--text-color);
  float: left;

  display: inline-block;
  vertical-align: middle;

  font-family: Montserrat !important;
  font-weight: 700 !important;
  font-size: 16pt;

  border-radius: 4px;
  margin: auto;
  padding: 8px 16px;

  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px #eee;
  transition: 0.4s;
  border-radius: 4px;
  height: 45px;

  lineheight: 64px;
} .nav-text:hover {
  transition: 0.4;
  padding: 6px 16px;
}

.topnav a:hover, .logged-in > a:hover{
  color: var(--color1);
  background-color: rgba(255,255,255, 0.5);
  text-decoration: none;
  transition: 0.2s;
}

.topnav > a > #logo {
  height: 42px;
  display: inline-block;
  vertical-align: middle;

  margin: 2px 8px 0 8px;
  padding: 0;
  float: left ;
}

.topnav > a > #avatar {
  height: 32px;
  display: inline-block;
  vertical-align: middle;

  margin-left: 12px;
  padding: 0;
  float: right;
}

.infodiv {
  width: 30%;
  margin: 8px;
  min-width: 220px;
  margin-left: 20px;
  position: absolute;
  display: none;
}

.logged-in {
  display: none;
  position: absolute;
  right: 0;
  width: 150px;
  background: #ccc;
  padding: 2px;
  border-bottom-left-radius: 6px;
  border-bottom: var(--dark-border);
  border-left: var(--dark-border);
} .logged-in > a {
  width: 100%;
  text-align: right;
}

/* ---------------- Text transformations ---------------- */

.centerize {
text-align: center;}

.country {
  transition: 0.4s;
} .country:hover {
  color: var(--color1);
  text-decoration: none;
  transition: 0.2s;
}

h1 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  color: var(--text-color) !important;
  font-size: 20pt !important;
}

h2 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  color: var(--text-color) !important;
  font-size: 16pt;
}

/* ---------------- Card styles ---------------- */

.cardholder {
  margin: 0;
  border: var(--dark-border);
  height: calc(100% - 50px - 48px);

  width: 30%;
  min-width: 320px;
  max-width: 480px;

  padding: 0 8px 0 8px;
  background-color: #ccc;
  overflow-x: hidden;
  overflow-y: hidden;
} .cardholder:hover {
  overflow-y: scroll;
  padding: 0 3px 0 8px;
}

.cardholder::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent  !important;
    float: left;
}
.cardholder::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
}
.cardholder::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

#new_container {
  border-right: var(--dark-border);
  border-left: var(--dark-border);
  margin: 0;
  height: 48px;

  width: 30%;
  min-width: 320px;
  max-width: 480px;

  padding: 8px;
  background-color: #dedede;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card {
  background-color: #f8f8f8;
  width: 100%;
  display: block;
  margin: 8px 0;

  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  word-wrap: break-word;
}

.memory {
  padding: 8px;
}

.card-top {
  padding: 8px 0 0 0;
  background-color: rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card-bottom {
  background-color: rgba(0,0,0,0.075);
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 2px;
}

/* ---------------- Form styles ---------------- */

input[type=text], input[type=password] {
  display: inline;
  text-align: center;
  background: #eee;
  border: var(--dark-border2);
  border-radius: 5px;
  padding: 4px 8px;
  width: calc(100% - 16px);
}
input[type=date] {
  display: inline;
  text-align: center;
  background: #eee;
  border: var(--dark-border2);
  border-radius: 5px;
  padding: 4px 8px;
  width: calc(100% - 16px);
}
textarea {
   background: #eee;
   border: var(--dark-border2);
   border-radius: 5px;
   width: calc(100%);
   padding: 4px 8px;
   min-height: 100px;
   max-height: 300px;
   height: 200px;
}

input:hover, textarea:hover {
  transition: 0.4s;
  background: #e8f7ff;}

.form-text {
  margin: 6px 0 0 0;
}

#dark-container {
  z-index: 50;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0,0.3);
}

.inputcard {
  z-index: 100;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  min-width: 350px;
}

.logincard {
  z-index: 100;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  width: 85%;
  max-width: 500px;
}

.memory > .input-container {
  display: inline-flex;
  margin: 8px;
}

.memory > .textarea-container {
  display: block !important;
  margin: 0 8px 8px 8px;
}

.container {
  width: 100%;
}

/* ---------------- Map styles ---------------- */

.map-container {
  max-width:calc(100% - 320px);
  min-width:calc(100% - 480px);
  width: 70vw;
  float: right;
  max-height: calc((100% - 320px) / 2);
  min-height: calc((100% - 480px) / 2);
  height: calc(70vw / 2);

  text-align: center;
}

.map {
  width: 100%;
  height: auto;
  /* background doesnt seem to show its loading */
  background: #ddd;
}

/* ---------------- Changes on media properties ---------------- */

@media (max-width:800px) {
  .infodiv{
    width: 80%;
  }

  .inputcard{
    min-width: 200px;
  }

  .memory > .input-container {
    display: inline;
  }
}

@media (max-width: 640px) {
/*max-width:640px because the card holder is 320px, which leaves at least
the same amount for the map*/
  #new_container{
    min-width: 200px;
    width: 100%;
    max-width: 100%;
    border-top: var(--dark-border);
  }

  .cardholder {
    max-height: calc(100% - 50vw - 50px - 48px);
    /* height = full - map - nav - newmemory */

    min-width: 200px;
    width: 100%;
    max-width: 100%;
    border-top: var(--dark-border);
  }

  .map-container {
    width:100%;
    min-width: 100%;
    height: 50vw;
    min-height: auto;
    max-height: auto;
  }
}

/* ---------------- Other/Buttons ---------------- */

.left {
  float: left !important;
}
.right {
  float: right !important;
}

.btn {
  font-size: 9pt;
}

.btn-edit {
  border-radius: 100px;
  height: 32px;
  margin: 3px;
  color: var(--text-color);
  background-color: rgba(0,0,0,0.1);
} .btn-edit:hover, .btn-edit:focus, .btn-edit:active {
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.2s;
} .btn-edit:focus, .btn-edit:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
  transition: 0.2s;
}

.btn-delete {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  margin: 3px;
  padding: 0;
  font-size: 15pt !important;
  color: var(--text-color);
  background-color: rgba(0,0,0,0.1);
} .btn-delete:hover, .btn-delete:focus .btn-delete:active{
  background-color: #d9a7a7;
  transition: 0.2s;
} .btn-delete:focus, .btn-delete:active {
  box-shadow: 0 0 0 0.2rem rgba(231, 188, 188, 0.5) !important;
  transition: 0.2s;
}

.btn-primary {
  background-color: var(--color1-s2);
  height: 32px;
  margin: 3px;
  border: none;
} .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color:  var(--color1);
  transition: 0.2s;
} .btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(73, 197, 255, 0.5) !important;
  transition: 0.2s;
}

.btn-secundary {
  background-color: var(--color2);
  height: 32px;
  margin: 3px;
  color: var(--text-color-light);
} .btn-secundary:hover, .btn-secundary:focus, .btn-secundary:active {
  background-color: var(--color2-s2);
  transition: 0.2s;
  color: #fff;
} .btn-secundary:focus, .btn-secundary:active {
  box-shadow: 0 0 0 0.2rem rgba(168, 69, 69, 0.5) !important;
  transition: 0.2s;
}

.btn-wide {
  width: 100%;
  margin: 0;
  font-size: 11pt !important;
}

.mapbutton {
  height: 32px;
  margin: 3px;
}

/* ---------------- Animations ---------------- */

.spin {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animation-darken {
  background-color: rgba(0,0,0,0.3);
  -webkit-animation: darken 0.5s ease;
  animation: darken 0.5s ease;
}

@-webkit-keyframes darken {
    from { -webkit-background-color: rgba(0,0,0,0); }
    to { -webkit-background-color: rgba(0,0,0,0.3); }
}
@keyframes darken {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.3); }
}

.animation-slide {
    -webkit-animation: slide 0.4s ease;
    animation: slide 0.4s ease;
}

@-webkit-keyframes slide {
    from { -webkit-transform: translateY(-80vh); }
    to { -webkit-transform: translateY(0); }
}

@keyframes slide {
    from { transform: translateY(-80vh); }
    to { transform: translateY(0); }
}

.animation-smallslide {
    -webkit-animation: smallslide 0.3s ease;
    animation: smallslide 0.3s ease;
}

@-webkit-keyframes smallslide {
    from { -webkit-transform: translateY(-500px); }
    to { -webkit-transform: translateY(0); }
}

@keyframes smallslide {
    from { transform: translateY(-500px); }
    to { transform: translateY(0); }
}
