/*
----- COLOR SCHEME -----
#23a8e6 - highlights
#444 -text
#dedede - nav
#ccc - memories panel (left)
rgba(0,0,0,0.3) - 1px borders
*/

html {
  height:100%;
}

body {
  background-color: #333 !important;

  /* background-image: url("images/map.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed; */

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444;

  width:100%;
  height:100%;
  overflow: hidden;
}

p {
  color: #444;
}

/* selection styling */

::-moz-selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #252525;
  text-shadow: none; }

/* no scrollbar visible on body*/
::-webkit-scrollbar {
  width: 0px;
}


.centerize {
text-align: center;}

/* navbar styles */

.topnav {
  z-index: 10;
  background-color: #dedede;
  overflow: hidden;
  padding: 2px;
  height: 64px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.nav-text {
  color: #444;
  float: left;
  text-align: center;
  padding: 8px 16px;
  margin: auto;

  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  transition: 0.4s;
  border-radius: 4px;
  height: 58px;
}

.topnav a:hover {
  color: #23a8e6;
  background-color: rgba(255,255,255, 0.5);
  text-decoration: none;
  transition: 0.2s;
}

.infodiv {
  width: 30%;
  min-width: 220px;
  margin-left: 20px;
  position: absolute;
  display: none;
}


.nav-text {
    font-family: Montserrat !important;
    font-weight: 700 !important;
    font-size: 20pt !important;
    border-radius: 4px;
    margin: 0 2px;
    }

#logo {
  height: 50px;
  display: inline-block;
  vertical-align: middle;

  margin: 4px;
  padding: 0;
  float: left ;}

.country {
  transition: 0.4s;
}

.country:hover {
  color: #23a8e6;
  text-decoration: none;
  transition: 0.2s;
}

h1, h2 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  color: #444 !important;}

/* Card styles */

.card {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  display: block;
  margin: 12px 0;

  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  word-wrap: break-word;
}

.memory {
  padding: 8px;
}

.card-bottom {
  background-color: rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.1);
}

.cardholder {
  margin: 0;
  border: 1px solid rgba(0,0,0,0.3);
  width: 30%;
  height: calc(100% - 62px);
  min-width: 320px;
  max-width: 480px;
  padding: 0 6px 0 12px;
  background-color: #ccc;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: horizontal;
}

.cardholder::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent  !important;
    float: left;
}

.cardholder::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #ccc;
}
​
.cardholder::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Form styles */
input {
  background: #eee;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 4px 8px;
  width: calc(100% - 40px);
}

 textarea {
   background: #eee;
   border: 2px solid grey;
   border-radius: 4px;
   width: calc(100% - 40px);
   padding: 4px 8px;
   margin: 0 20px;
   min-height: 100px;
   max-height: 300px;
 }

input:hover, textarea:hover {
  transition: 0.4s;
  background: #e8f7ff;}

.dark-container {
  z-index: 50;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.inputcard {
  z-index: 100;
  width: 80%;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  min-width: 350px;
}

.memory > .input-container {
  display: block !important;
  background-color: #f00 !important;
  margin: 8px;
}
.memory > .textarea-container {
  display: inline !important;
  background-color: #f00 !important;
  margin: 8px;
}

.container {
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  border-radius: 0 0 5px 5px;
  padding: 10px 0 10px 0;
}

.map {
  float:right;
  width: 55%;
  background-color: rgb(255,255,255,0);
  margin: 20px 0 0 0;
  border-radius: 5px;
  max-height: 500px;
  display:none;
}

@media (max-width:800px) {
  .mapcard, .cardholder{
    width:100%;
  }
  .infodiv{
    width: 80%;
  }

  .inputcard{
    min-width: 200px;
  }

  }
  .map{
    width:100%;
    float:none;
  }
  .cardholder{
    max-height: initial;
    overflow-y: initial;
    min-width: 200px;
  }
}

/* bootstrap overrides */
.left {
  float: left !important;
}
.right {
  float: right !important;
}

.btn-tertiary {
  width: 100%;
} .btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active{
  background-color: #f8f8f8;
}

.btn-edit {
  border-radius: 100px;
  height: 38px;
  margin: 4px;
  font-size: 11pt !important;
  color: #444;
} .btn-edit:hover, .btn-edit:focus, .btn-edit:active {
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.2s;
} .btn-edit:focus, .btn-edit:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
  transition: 0.2s;
}

.btn-delete {
  border-radius: 100px;
  width: 38px;
  height: 38px;
  margin: 4px;
  padding: 0;
  font-size: 19pt;
  color: #444;
} .btn-delete:hover, .btn-delete:focus .btn-delete:active{
  background-color: #E7BCBC;
  transition: 0.2s;
} .btn-delete:focus, .btn-delete:active {
  box-shadow: 0 0 0 0.2rem rgba(231, 188, 188, 0.5) !important;
  transition: 0.2s;
}

.btn-primary {
  background-color: #23a8e6;
  height: 38px;
  margin: 4px;
  border: none;
} .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #49c5ff;
  transition: 0.2s;
} .btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(73, 197, 255, 0.5) !important;
  transition: 0.2s;
}

.btn-secundary {
  background-color: #bc4f4f;
  height: 38px;
  margin: 4px;
  color: #eee;
} .btn-secundary:hover, .btn-secundary:focus, .btn-secundary:active {
  background-color: #a84545;
  transition: 0.2s;
  color: #fff;
} .btn-secundary:focus, .btn-secundary:active {
  box-shadow: 0 0 0 0.2rem rgba(168, 69, 69, 0.5) !important;
  transition: 0.2s;
}

.mapbutton {
  height: 38px;
  margin: 4px;}
