{% extends 'places/base.html' %}

{% block login %}
<div id="dark-container">
  <div class="inputcard animation-slide">
    <div class="input-top">
      <h1 class="centerize">Change avatar</h1>
    </div>
    <!-- create the cards -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'places/form_avatar.html'%}

      <div class="input-bottom">
        <button class='btn btn-primary' type="submit">SAVE</button>
        <a href="{% url 'index' %}" class='btn btn-secundary' id="back">BACK</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
