{% load staticfiles %}
<!-- import css files -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Custom fonts, use
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
as styles -->
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700" rel="stylesheet">
<!-- own styles (overrides bootstrap) -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- Page start -->
<head>
  <title>Placebook</title>
</head>

<body>

  <div class="topnav">
    <a href="{% url 'intro' %}"><img src="{% static 'img/logo_bg.png' %}" alt="" id="logo"></a>
    {% if user.is_authenticated %}
      {% if UserProfile.avatar and UserProfile.avatar != "media/profile_icon.png" %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{{ UserProfile.avatar.url }}" alt="" id="avatar"></a>
      {% else %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{% static 'img/profile_icon.png' %}" alt="" id="avatar-d"></a>
      {% endif %}
    {% else %}
    <a href="{% url 'login' %}" class='right nav-text'>Sign-in</a>
    {% endif %}
    <a href="{% url 'index' %}" class="nav-text">Placebook</a>
    <a href="" class='info-button nav-text'>Help</a>
  </div>

  {% if user.is_authenticated %}
  <div class="logged-in animation-smallslide">
    <a href="{% url 'avatar' %}" class="nav-text">Profile </span></a>
    <a href="" class="nav-text">Search <span class="fas fa-search"></span> </a>
    <a href="{% url 'logout' %}" class="nav-text">Logout </a><br/>
  </div>
  {% endif %}

  <div class='infodiv'>
      <p>This site lets you save your dearest memories, bound to a location. You can add a card by choosing "New Memory" in the left panel.</p>
      <button class="close-button btn btn-secondary">Close</button>
  </div>

  <div class="map-container">
      <div id="map"></div>

      <div id="info-panel">

        <div id='info-main'>

          <div id="info-title">
            <h2><span class="location" id='place'>none selected</span></h2>
            <span id='date'></span>
          </div>
          <div id="info-top">
            <hr>
            <strong>Info: <br/></strong><span id='info'>-</span>
          </div>

        </div>

        <div id='info-bottom'>

          <p class="date-text">
            <button class='btn btn-edit2 right' onclick='editRedirect()'><b>edit</b></button>

          </p>
        </div>
      </div>


  </div>


  {% block login %}
  {% endblock %}

  {% block newmemory %}
  {% endblock %}


  <!-- it inserts all the stored memories in the cardholder -->
  <div id="new_container">
    <form action="{% url 'memory-add' %}">
      <input type="submit" class="btn btn-wide btn-primary" value="New Memory +" />
    </form>
  </div>

  <div class="cardholder scrollbar">
    <p class="centerize" id="locError">We could not map all locations.<br />
      Please check the <u>red</u> memory values!</p>

    {% if all_memories %}
    {% for memory in all_memories%}

      {% if memory.date_due %}
    <div class='card highlighted-card'>

      {% else %}
    <div class='card'>

      {% endif %}
      <div class='memory'>
        <div id='click1'>
          <h2><a class="location" id="location">{{ memory.place }}</a></h2>
          <span class="info-text"><strong>Info: <br/></strong>{{ memory.info | linebreaksbr }}<br/></span>
          <div class="card-datediv">
            <span class="date-text dark-padding right">{{ memory.date }}</span>
          </div>
        </div>
      </div>
      <div class="card-bottom">

        <form class="right" action="{% url 'memory-delete' memory.id %}" method="post">
          {% csrf_token %}
          <button class='btn btn-delete' type="submit"><b>&times;</b></button>
        </form>
        <form class="right" action="{% url 'memory-update' memory.id %}" method="get">
          {% csrf_token %}
          <button class='btn btn-edit' type="submit">edit</button>
        </form>

        <!-- <input type="button" class='btn btn-primary mapbutton' value="Map"> -->
      </div>
    </div>

    {% endfor %}
    {% else %}
    <!-- if there are no items -->
    <p class="centerize" style="margin-top: 8px;">no memories added</p>
    {% endif %}
  </div>


  <!-- if something is wrong -->
  {% if error_message %}
  <p><strong>{{error_message}}</strong></p>
  {% endif %}

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/memo.js' %}"></script>

  <script>
    // Dynamic js, needs to be stated here to use django template tags
    const markerImage = [4];
    markerImage[0] = "{% static 'img/marker.png' %}";
    markerImage[1] = "{% static 'img/marker_s.png' %}";
    markerImage[2] = "{% static 'img/marker_green.png' %}";
    markerImage[3] = "{% static 'img/marker_green_s.png' %}";
    // create Memory objects in memories[]
    let j = 0;
    let memories = [];

    // iterate over the memories
    {% if all_memories %}
    {% for memory in all_memories%}
    memories[j] = new Memory(
      '{{ memory.id }}',
      '{{ memory.date | date:"DATE_FORMAT" }}',
      '{{ memory.info | linebreaksbr }}',
      '{{ memory.place }}',
      '{{ memory.date_due }}'
    );
    j++;

    {% endfor %}
    {% endif %}
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRAAmE5TswTx5EnJdwcuUGUv_kkRqtyUM&callback=initMap&libraries=places&language=en">
  </script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
