{% load staticfiles %}
<!-- import css files -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Custom fonts, use
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
as styles -->
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700" rel="stylesheet">
<!-- own styles (overrides bootstrap) -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- Page start -->
<head>
  <title>Placebook</title>
</head>

<body>

  <div class="topnav">
    <a href="{% url 'intro' %}"><img src="{% static 'img/logo_bg.png' %}" alt="" id="logo"></a>
    {% if user.is_authenticated %}
      {% if UserProfile.avatar and UserProfile.avatar != "media/profile_icon.png" %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{{ UserProfile.avatar.url }}" alt="" id="avatar"></a>
      {% else %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{% static 'img/profile_icon.png' %}" alt="" id="avatar-d"></a>
      {% endif %}
    {% else %}
    <a href="{% url 'login' %}" class='right nav-text'>Sign-in</a>
    {% endif %}
    <a href="{% url 'index' %}" class="nav-text">Placebook</a>
    <a href="" class='info-button nav-text'>Help</a>
  </div>

  {% if user.is_authenticated %}
  <div class="logged-in animation-smallslide">
    <a href="{% url 'avatar' %}" class="nav-text">Profile </span></a>
    <a href="" class="nav-text">Search <span class="fas fa-search"></span></a>
    <a href="{% url 'logout' %}" class="nav-text">Logout </a><br/>

  </div>
  {% endif %}

  <div class='infodiv'>
    <div class="card" style="z-index:50;">
      <h1 class="h1">Info</h1>
      <p>This site lets you save your dearest memories, bound to a location. You can add a card by choosing "new location" in the left panel.</p>
      <button class="close-button btn btn-secondary">Close</button>
    </div>
  </div>

  <div class="map-container">
      <div id="map"></div>
  </div>


  {% block login %}
  {% endblock %}

  {% block newmemory %}
  {% endblock %}


  <!-- it inserts all the stored memories in the cardholder -->
  <div id="new_container">
    <form action="{% url 'memory-add' %}">
      <input type="submit" class="btn btn-wide btn-primary" value="New Memory +" />
    </form>
  </div>
  <div class="cardholder scrollbar">

    {% if all_memorys %}
    {% for memory in all_memorys%}
    <div class='card'>
      <div class='memory'>
        <h2><span class="country location" id="location">{{memory.city}}, {{memory.country}}</span></h2>
        <!-- <strong>City: </strong>{{memory.city}}
        <br><strong>Country: </strong>{{memory.country}} -->
        <strong>Info: <br/></strong>{{memory.info}}<br/>
        <span class="date-text rightize">{{memory.date | date:"DATE_FORMAT" }}</span>
      </div>
      <div class="card-bottom">

        <form class="right" action="{% url 'memory-delete' memory.id %}" method="post">
          {% csrf_token %}
          <button class='btn btn-delete' type="submit"><b>&times;</b></button>
        </form>
        <form class="right" action="{% url 'memory-update' memory.id %}" method="get">
          {% csrf_token %}
          <button class='btn btn-edit' type="submit">EDIT</button>
        </form>

        <input type="button" class='btn btn-primary mapbutton' value="Map">
      </div>
    </div>

    {% endfor %}
    {% else %}
    <!-- if there are no items -->
    <p class="centerize" style="margin-top: 8px;">no memories added</p>
    {% endif %}
  </div>


  <!-- if something is wrong -->
  {% if error_message %}
  <p><strong>{{error_message}}</strong></p>
  {% endif %}

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script>
    var markerImage = "{% static 'img/marker.png' %}";
    markerImage.width = 32;
    markerImage.height = 32;
  </script>
  <script src="{% static 'js/map.js' %}"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRAAmE5TswTx5EnJdwcuUGUv_kkRqtyUM&callback=initMap">
  </script>
  <script src="{% static 'js/main.js' %}"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
