<!-- make an input field for every item -->

<div class="memory">

  <div class="input-container">
    <strong> {{ form.city.label_tag }} </strong>
    <div class='centerize'>
    {% if form.city.value %}
    <input type="text" name="city" id="id_city" value="{{ form.city.value }}" placeholder="City" required/>
    {% else %}
    <input type="text" name="city" id="id_city" placeholder="City" required/>
    {% endif %}
    </div>
  </div>

  <div class="input-container">
    <strong> {{ form.country.label_tag }} </strong>
    <div class='centerize'>
      {% if form.country.value %}
      <input type="text" name="country" id="id_country" value="{{ form.country.value }}" placeholder="Country" required/>
      {% else %}
      <input type="text" name="country" id="id_country" placeholder="Country" required/>
      {% endif %}
    </div>
  </div>

  <div class="textarea-container">
    <strong class="left"> {{ form.info.label_tag }} </strong><br/>
    {% if form.info %}
    {{ form.info }}
    {% else %}
    <textarea name="info" id="id_info" placeholder="What were your experiences? How was the weather? What activities did you participate in?" required></textarea>
    {% endif %}
  </div>
</div>
