{% load staticfiles %}
<!-- import css files -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Custom fonts, use
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
as styles -->
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700" rel="stylesheet">
<!-- own styles (overrides bootstrap) -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- Page start -->
<head>
  <title>Placebook</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
</head>

<body id="welcome-bg">

  <div class="topnav">
    <a href="{% url 'intro' %}"><img src="{% static 'img/logo_bg.png' %}" alt="" id="logo"></a>
    {% if user.is_authenticated %}
      {% if UserProfile.avatar and UserProfile.avatar != "media/profile_icon.png" %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{{ UserProfile.avatar.url }}" alt="" id="avatar"></a>
      {% else %}
      <a href="#" class='right nav-text'id="usermenu">{{ user.get_username }} <img src="{% static 'img/profile_icon.png' %}" alt="" id="avatar-d"></a>
      {% endif %}
    {% else %}
    <a href="{% url 'login' %}" class='right nav-text'>Sign-in</a>
    {% endif %}
    <a href="{% url 'index' %}" class="nav-text">Placebook</a>
    <a href="" class='info-button nav-text'>Help</a>
  </div>

  {% if user.is_authenticated %}
  <div class="logged-in animation-smallslide">
    <a href="{% url 'avatar' %}" class="nav-text">Profile </span></a>
    <a href="" class="nav-text">Search <span class="fas fa-search"></span></a>
    <a href="{% url 'logout' %}" class="nav-text">Logout </a><br/>

  </div>
  {% endif %}

  {% block login %}
  <div class="centerize" id="welcome">
    <p class="welcome-msg">Welcome to <br/><b>Placebook</b></p>
    <hr class="welcome-hr">
    <p class="welcome-txt">A platform where users can store memories and trips in their personal log.
      <br/> Designed for adventurers and explorers.
      <br/><br/> Make an account today. </p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'login' %}">Get started!</a>
  </div>
  {% endblock %}

  <div id="artist-credit">
    <p> background by <a href="https://unsplash.com/@paulgilmore_">Paul Gilmore</a></p>
  </div>


  <!-- if something is wrong -->
  {% if error_message %}
  <p><strong>{{error_message}}</strong></p>
  {% endif %}

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>


</body>
