{% extends 'places/base.html' %}

{% block login %}
<div id="dark-container" class="animation-darken">
  <div class="logincard">
    <div class="card-top">
      <h1 class="centerize">LOGIN</h1>
    </div>
    <!-- create the cards -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'places/form_login.html'%}

      <a href="{% url 'signup' %}"><p>Don't have an account? Create one!</p></a>
      <div class="card-bottom">
        <button class='btn btn-primary' type="submit">SAVE</button>
        <a href="{% url 'index' %}" class='btn btn-secundary' id="back">BACK</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
