{% extends 'places/intro.html' %}

{% block login %}
<div id="dark-container">
  <div class="logincard">
    <div class="input-top">
      <h1 class="centerize">SIGN UP</h1>
    </div>
    <!-- create the cards -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'places/form_login.html'%}

      <div class="input-bottom">
        <button class='btn btn-primary' type="submit">CREATE</button>
        <a href="{% url 'index' %}" class='btn btn-secundary' id="back">BACK</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
